/* style.css - module 4 project - Brenda Jackels */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root { /* set global colors and fonts */
    --dark-color: #351c75;
    --medium-color: #bd60e7;  
    --light-medium-color: #d9d3e9;  
    --light-color: #e5e8ff;    
    --font-family: Arial, Verdana, Tahoma, sans-serif;
    --shadow-color: rgba(0, 0, 0, 0.5);
}

body {
    font-family: var(--font-family);
}

/* start header styling */
header {
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
}

/*
    seems like overkill to have a separate nav section since it's really just one button and a timer
    display, but it's probably useful for screen readers
*/
header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline;
}

header nav a {
    text-decoration: none;
    color: var(--medium-color);
}
/* end nav styling

/* end header styling */

/* start out with all the main sections hidden except for the initial-greeting section */
/*.initial-greeting,*/ .quiz-questions, .tally, .answer-status, .high-scores {
    display: none;
}

h1 {
    margin-bottom: 20px;
}

main {
    margin-top: 4%;
    margin-left: 20%;
    margin-right: 20%;
}

.btn {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 6px 15px;
    border-radius: 7px;
}

.btn:hover {
    background: var(--medium-color);
    color: var(--dark-color);
}

/* start initial greeting styling */
.initial-greeting {
    text-align: center;
}

.initial-greeting p {
    margin-bottom: 20px;
    font-size: 14px;
}

/* end initial greeting styling */

/* start quiz styling */

.answers-wrapper {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}
  
.answers {
    display: flex;
    flex-direction: column;
}
  
.answer-btn {
    text-align: left;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
 }

 .answer-status h3 {
     font-weight: lighter;
     margin-top: 10px;
 }
 /* end quiz styling */

 /* start tally styling */
.tally p {
    font-size: 16px;
}

 .tally-form {
     display: flex;
     margin-top: 10px;
 }

 .tally-name {
    padding: 5px 20px;
    font--size: 18px;
 }

 .tally-btn {
    padding: 2px 10px;
    margin-top: 3px;
    margin-left: 15px;
    border-radius: 5px;
 }

 /* end tally styling */

 /* begin answer status styling */
 .answer-status {
    border-top: solid 1px grey;
    color: grey;
    font-style: oblique;
    margin-top: 20px;
 }

 /* end answer status styling */

 /* begin high scores styling */
.high-scores {
    /* with the header hidden, the margin needs to be increased */
    margin-top: 15%;
}

 .high-scores-list {
    list-style: none;
 }

.high-score-item {
     background-color: var(--light-medium-color);
     margin: 5px; /* all margins set to 5px, but... */
     margin-left: 0; /* override the left margin */
     padding: 5px;
 }